/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("./fonts/Montserrat-Thin.ttf") format('truetype');
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("./fonts/Montserrat-ThinItalic.ttf") format('truetype');
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("./fonts/Montserrat-ExtraLight.ttf") format('truetype');
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url("./fonts/Montserrat-ExtraLightItalic.ttf") format('truetype');
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("./fonts/Montserrat-Light.ttf") format('truetype');
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("./fonts/Montserrat-LightItalic.ttf") format('truetype');
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("./fonts/Montserrat-Regular.ttf") format('truetype');
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("./fonts/Montserrat-Italic.ttf") format('truetype');
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/Montserrat-Medium.ttf") format('truetype');
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("./fonts/Montserrat-MediumItalic.ttf") format('truetype');
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("./fonts/Montserrat-SemiBold.ttf") format('truetype');
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("./fonts/Montserrat-SemiBoldItalic.ttf") format('truetype');
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("./fonts/Montserrat-Bold.ttf") format('truetype');
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("./fonts/Montserrat-BoldItalic.ttf") format('truetype');
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url("./fonts/Montserrat-ExtraBold.ttf") format('truetype');
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url("./fonts/Montserrat-ExtraBoldItalic.ttf") format('truetype');
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("./fonts/Montserrat-Black.ttf") format('truetype');
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("./fonts/Montserrat-BlackItalic.ttf") format('truetype');
}

/** =================== MONTSERRAT ALTERNATES =================== **/

/** Montserrat Alternates Thin **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: normal;
    src: url("./fonts/MontserratAlternates-Thin.ttf") format('truetype');
}

/** Montserrat Alternates Thin-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: italic;
    src: url("./fonts/MontserratAlternates-ThinItalic.ttf") format('truetype');
}

/** Montserrat Alternates ExtraLight **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: normal;
    src: url("./fonts/MontserratAlternates-ExtraLight.ttf") format('truetype');
}

/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: italic;
    src: url("./fonts/MontserratAlternates-ExtraLightItalic.ttf") format('truetype');
}

/** Montserrat Alternates Light **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: normal;
    src: url("./fonts/MontserratAlternates-Light.ttf") format('truetype');
}

/** Montserrat Alternates Light-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: italic;
    src: url("./fonts/MontserratAlternates-LightItalic.ttf") format('truetype');
}

/** Montserrat Alternates Regular **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
    src: url("./fonts/MontserratAlternates-Regular.ttf") format('truetype');
}

/** Montserrat Alternates Regular-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: italic;
    src: url("./fonts/MontserratAlternates-Italic.ttf") format('truetype');
}

/** Montserrat Alternates Medium **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: normal;
    src: url("./fonts/MontserratAlternates-Medium.ttf") format('truetype');
}

/** Montserrat Alternates Medium-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: italic;
    src: url("./fonts/MontserratAlternates-MediumItalic.ttf") format('truetype');
}

/** Montserrat Alternates SemiBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: normal;
    src: url("./fonts/MontserratAlternates-SemiBold.ttf") format('truetype');
}

/** Montserrat Alternates SemiBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: italic;
    src: url("./fonts/MontserratAlternates-SemiBoldItalic.ttf") format('truetype');
}

/** Montserrat Alternates Bold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: normal;
    src: url("./fonts/MontserratAlternates-Bold.ttf") format('truetype');
}

/** Montserrat Alternates Bold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: italic;
    src: url("./fonts/MontserratAlternates-BoldItalic.ttf") format('truetype');
}

/** Montserrat Alternates ExtraBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: normal;
    src: url("./fonts/MontserratAlternates-ExtraBold.ttf") format('truetype');
}

/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: italic;
    src: url("./fonts/MontserratAlternates-ExtraBoldItalic.ttf") format('truetype');
}

/** Montserrat Alternates Black **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 900;
    font-style: normal;
    src: url("./fonts/MontserratAlternates-Black.ttf") format('truetype');
}

/** Montserrat Alternates Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("./fonts/MontserratAlternates-BlackItalic.ttf") format('truetype');
}

*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}
.vjs-text-track-display{
    div:first-child{
        div:first-child{
            text-align:center!important;
        }
    }
}
.loading{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    right:0;
}

.spin{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #1fb76e;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 0.8s linear infinite;
    position: fixed;
    top: 42%;
    left: 42%;
    z-index: 2;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
header{
    position: relative;
    z-index:1;
    background-color: #3f3f3f;
    .logo{
        float:left;
        a{
            color: #ffffff;
            text-decoration: none;
            display:block;
            height:40px;
        }
        margin-left:12%;
        text-indent: -99999px;
        background-image: url(../assets/logo.png);
        width:56px;
        height:40px;
        background-size: 56px 40px;

    }
    .language{
        float:right;
        position: relative;
        cursor: pointer;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        padding-top:7px;
        margin-left: 30px;
        p{
            background: url(/triangle-180.png) no-repeat;
            background-position: right;
            padding-right: 25px;
        }
        .language-dropdown-open{
            list-style-type: none;
            position:absolute;
            li{
                padding: 10px 20px 10px 20px;
            }
            color: #000000;
            background-color: #ffffff;
            font-weight: normal;
            right: 0;
            margin-top: 10px;
            &:hover{
                background-color: #f5f5f5;
            }
            height: auto;
        }
        .language-dropdown-closed{
            height: 0;
            overflow:hidden;
        }
    }
    .navbar{
        margin-right:10%;
    }
    .navbar-toggle{
        display:none;
    }
    .navbar-links{
        float:right;
        list-style-type:none;
        padding-top:7px;
        .navbar-link, .navbar-link-dropdown{
            cursor: pointer;
            color: #ffffff;
            text-transform: uppercase;
            display:inline-block;
            font-weight:bold;
            font-size:18px;
            a{
                text-decoration:none;
                color: #ffffff;
                text-transform: uppercase;
                font-weight:bold;

            }
            position:relative;
            margin-left:30px;
            .navbar-dropdown-links-open, .navbar-dropdown-links-closed{
                position:absolute;
                list-style-type:none;
                text-align:right;
                background-color: #ffffff;
                margin-top:10px;
                .navbar-dropdown-link{
                    a{
                        padding:10px 20px 10px 40px;
                        color: #000000;
                        display:block;
                        font-weight: normal;
                        
                        &:hover{
                            background-color: #f5f5f5;
                        }
                    }
                }
                white-space: nowrap;
                right:0;
            }
            .navbar-dropdown-links-open{
                height:auto;
            }
            .navbar-dropdown-links-closed{
                height:0;
                overflow:hidden;
            }
        }
        .navbar-link-dropdown{
            p{
                background:url(../assets/triangle-180.png) no-repeat;
                background-position: right;
                padding-right: 25px;
            }
        }

    }
    &:after{
        content:"";
        display:block;
        clear:both;
    }
    padding:20px 0;
}
.banner{
    background-color: #000000;
    max-height:500px;
    overflow:hidden;
    position:relative;
    img{
        width:100%;
        opacity:0.3;
    }
    .banner-text{
        width:80%;
        margin-left:10%;
        position:absolute;
        color: #ffffff;
        top: 120px;
        text-transform: uppercase;
        p{
            font-size:40px;
        }
        h1{
            font-size:50px;
            font-weight:normal;
        }
        .banner-button-why{
            padding: 14px 25px;
            text-transform: uppercase;
            background-color: #ffffff;
            color: #000000;
            border:none;
            cursor:pointer;
            font-size:18px;
            margin-top:40px;
            &:hover{
                /*color: #ffffff;*/
                background-color: #e0e0e0;
            }
            font-weight:600;
            text-decoration: none;
            display:inline-block;
        }
        .banner-button-browse{
            padding: 14px 25px;
            text-transform: uppercase;
            background-color: #1FB76E;
            color: #ffffff;
            border:none;
            cursor:pointer;
            font-size:18px;
            margin-top:40px;
            margin-left:20px;
            &:hover{
                /*color: #ffffff;*/
                background-color: #2ba56a;
            }
            font-weight:600;
            font-weight:600;
            text-decoration: none;
            display:inline-block;
        }
    }
}
.news-landing{
    background-color: #FEFEFE;
    padding: 60px 0 40px 0;
    min-height:50vh;
    h1{
        text-align:center;
        text-transform: uppercase;
        font-size: 28px;
    }
    > div{
        padding-top:70px;
        h2{
            text-align:center;
            font-size:30px;
            font-weight: normal;
        }
    }
    .news-landing-list{
        width:85%;
        margin:80px auto 0 auto;
        .news-landing-item{
            list-style-type:none;
            margin-bottom:60px;
            width:45%;
            margin-right:10%;
            display:inline-block;
            vertical-align: top;
            &:nth-child(2n){
              margin-right:0;  
            }
            img{
                float:left;
                margin-right:30px;
                width:200px;
                height:180px;
            }
            .news-landing-text{
                h2{
                    color: #6C7A89;
                    text-transform: uppercase;
                    font-size:24px;
                }
                p{
                    margin-top:10px;
                    font-size: 16px;
                    line-height: 1.5;
                }
                .news-date{
                    font-size:12px;

                }
                width:100%;
            }
        }
    }
}
.about-us-landing{
    background-color: #EEEEEE;
    padding: 80px 0 100px 0;
    h1{
        text-transform: uppercase;
        text-align:center;
        font-size:28px;
    }
    .about-us-main{
        width:85%;
        margin: 70px auto 0 auto;
        &:after{
            display:block;
            content:"";
            clear:both;
        }
        .about-us-sidetext{
            float:left;
            width:23%;
            h3{
                font-size: 24px;
                font-weight: 300;
                line-height: 1.4;
                margin-bottom:30px;
            }
            p{
                font-size: 18px;
                line-height: 2;
                font-weight:500;
            }
            button{
                padding: 14px 25px;
                text-transform: uppercase;
                background-color: #1FB76E;
                color: #ffffff;
                border:none;
                cursor:pointer;
                font-size:18px;
                margin-top:40px;

                &:hover{
                    color: #ffffff;
                    background-color: #000000;
                }
                font-weight:600;
            }
        }
        .about-us-list{
            list-style-type:none;
            float:right;
            width:65%;
            margin-left:12%;
            li{
                width:40%;
                display:inline-block;
                vertical-align: top;
                margin-right:10%;
                &:nth-child(2n){
                    margin-left:10%;
                    margin-right:0;
                }
                margin-bottom:70px;
                i{
                    font-size:70px;
                }
                h2{
                    margin-top:20px;
                }
                p{
                    margin-top:10px;
                }
            }
        }
    }
}

.contact-us-landing{
    background-color: rgb(31, 183, 110);
    padding:50px 0;
    .contact-us-landing-content{
        width:80%;
        margin:0 auto;

    }
    h1{

        color:#ffffff;
        text-transform: uppercase;
        font-size:28px;
        float:left;
        padding-top:10px;
        font-weight: normal;
    }
    &:after{
        display:block;
        content:"";
        clear:both;
    }
    button{
        float:right;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 0px;
        padding: 14px 25px;
        display:inline-block;
        border:none;
        color: #000000;
        cursor:pointer;
        font-weight:600;
        background-color: #ffffff;
    }
}
.footer{
    padding:60px 0;
    background-color: #000000;
    .footer-lists, .footer-socials{
        width:80%;
        margin: 0 auto;
    }
    .footer-lists{
        ul{
            display:inline-block;
            width:23%;
            margin:0 1%;
            color: #ffffff;
            list-style-type: none;
            vertical-align:top;
            text-align:center;
            li.title{
                text-transform: uppercase;
                font-size:20px;
                font-weight:600;
                margin-bottom:10px;
            }
            li{
                font-size: 17px;
                line-height: 2.02857;
                a{
                    text-decoration: none;
                    color:#ffffff;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .footer-socials{
        color: #ffffff;
        margin-top:100px;
        p:last-child{
            float:right;
            font-size:16px;
        }
        p:first-child{
            float:left;
            a{
                color:#ffffff;
                font-size:18px;
                margin-right:20px;
            }
        }
        &:after{
            display:block;
            content:"";
            clear:both;
        }
    }
}
.fields{
    .fields-banner{
        background-color: #000000;
        max-height:300px;
        overflow:hidden;
        position:relative;
        img{
            width:100%;
            opacity:0.3;
        }
        .fields-banner-text{
            width:80%;
            margin-left:10%;
            position:absolute;
            color: #ffffff;
            top: 120px;
            text-transform: uppercase;
            h1{
                font-size:50px;
                font-weight:normal;
            }
        }
    }
    .fields-list{
        background-color: #e0e0e0;
        padding:80px 0 100px 0;
        .fields-filters{
            width:1150px;
            margin: 0 auto;
            padding-bottom:40px;
            border-bottom:1px solid #000000;
            input{
                border-radius: 5px;
                border: solid 1px #000000;
                padding: 10px 20px;
                padding-left:45px;
                font-size:20px;
                display:inline-block;
                vertical-align: top;
                background: url(../assets/search.png) no-repeat;
                background-color:#ffffff;
                background-position: 15px;
            }
        }
        ul{
            width:1150px;
            margin:0 auto;
            margin-top:50px;
            li{
                a{
                    display:block;
                    text-decoration: none;
                    &:hover{
                        opacity:0.7;
                    }
                    color: #000000;
                }
                -webkit-box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.37);
                -moz-box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.37);
                box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.37);
                height:200px;
                background-color:#ffffff;
                display:inline-block;
                width:550px;
                margin-bottom:70px;
                &:nth-child(odd){
                    margin-right:50px;
                }
                vertical-align: top;
                .fields-item-img{
                    display:inline-block;
                    width:200px;
                    height:200px;
                    overflow:hidden;
                    background-color: #000000;
                    img{
                        opacity:0.5;
                    }
                    margin-right:20px;
                }
                .fields-item-text{
                    display:inline-block;
                    width:330px;
                    vertical-align: top;
                    padding:20px 0;
                    h2{
                        font-size: 22px;
                        font-weight: 300;
                        line-height: 1.4;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        word-wrap: wrap;
                    }
                    p{
                        font-size: 16px;
                        line-height: 1.7;
                        font-weight: 500;
                        margin-top:10px;
                        word-wrap: break-word;
                        padding-right:20px;
                    }
                    .line{
                        width:150px;
                        border:0.5px solid black;
                        margin-top:15px;
                    }
                }
            }

        }
    }
}

.subfields{
    .subfields-banner{
        background-color: #000000;
        max-height:350px;
        overflow:hidden;
        position:relative;
        img{
            width:100%;
            opacity:0.3;
        }
        .subfields-banner-text{
            width:80%;
            margin-left:10%;
            position:absolute;
            color: #ffffff;
            top: 110px;
            text-transform: uppercase;
            h1{
                font-size:50px;
                font-weight:normal;
            }
            p{
                font-size:25px;
                margin-top:15px;
            }
        }
    }
    .subfields-list{
        background-color: #e0e0e0;
        padding:80px 0 150px 0;
        .subfields-filters{
            width:1150px;
            margin: 0 auto;
            padding-bottom:40px;
            border-bottom:1px solid #000000;
            input{
                border-radius: 5px;
                border: solid 1px #000000;
                padding: 10px 20px;
                padding-left:45px;
                font-size:20px;
                display:inline-block;
                vertical-align: top;
                margin-right:50px;
                background: url(../assets/search.png) no-repeat;
                background-color:#ffffff;
                background-position: 15px;
            }
        }
        ul{
            width:1150px;
            margin:0 auto;
            margin-top:50px;
            list-style-type:none;
            li{
                -webkit-box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.37);
                -moz-box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.37);
                box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.37);
                a{
                    text-decoration:none;
                    display:block;
                    color: #000000;
                    height:100%;
                    &:hover{
                        opacity: 0.7;
                    }
                }
                display:inline-block;
                width:350px;
                margin-right:50px;
                margin-bottom:70px;
                &:nth-child(3n){
                    margin-right:0;
                }
                vertical-align: top;
                div{
                    img{
                        width:350px;
                        height:250px;
                        overflow:hidden;
                        opacity:0.8;
                    }
                    background-color: #000000;
                    height:250px;
                }
                height:500px;
                background-color: #ffffff;
                h2{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1.4;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    word-wrap: wrap;
                    padding:20px;
                    text-align: center;
                }
                p{
                    font-size: 16px;
                    line-height: 2;
                    font-weight: 500;
                    padding:0 20px;
                    text-align:center;
                }
            }
        }
    }
}
.courses{
    .courses-banner{
        background-color: #000000;
        max-height:350px;
        overflow:hidden;
        position:relative;
        img{
            width:100%;
            opacity:0.3;
        }
        .courses-banner-text{
            width:80%;
            margin-left:10%;
            position:absolute;
            color: #ffffff;
            top: 110px;
            text-transform: uppercase;
            h1{
                font-size:50px;
                font-weight:normal;
            }
            p{
                font-size:25px;
                margin-top:15px;
            }
        }
    }
    .courses-list{
        background-color: #e0e0e0;
        padding:80px 0 150px 0;
        .courses-filters{
            width:1210px;
            margin: 0 auto;
            padding-bottom:40px;
            border-bottom:1px solid #000000;
            input{
                border-radius: 5px;
                border: solid 1px #000000;
                padding: 10px 20px;
                padding-left:45px;
                font-size:20px;
                display:inline-block;
                vertical-align: top;
                margin-right:50px;
                background: url(../assets/search.png) no-repeat;
                background-color:#ffffff;
                background-position: 15px;
            }
            .courses-select{
                display:inline-block;
                ul{
                    display: none;
                }

            }
            .courses-select-input-left-button{
                width:200px;
                border-radius: 5px 0 0 5px;
                border: solid 1px #000000;
                padding: 10px 20px;
                font-size:20px;
                color:#979797;
                -moz-appearance:none;
                -webkit-appearance:none;
                appearance:none;
                vertical-align: top;
                text-align:left;
                background-color: #ffffff;
            }
            .courses-select-input-right-button{
                width: 47px;
                height: 47px;
                border-radius: 0 5px 5px 0;
                border: solid 1px #000000;
                margin-right: 50px;
                border-left:none;
                background-color: #ffffff;
                background: url(../assets/triangle-180b.png) no-repeat;
                background-position: center;
            }
        }
        ul{
            width:1210px;
            margin:0 auto;
            margin-top:50px;
            li{
                -webkit-box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.37);
                -moz-box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.37);
                box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.37);
                a{
                    text-decoration:none;
                    display:block;
                    color: #000000;
                    height:100%;
                    &:hover{
                        opacity: 0.7;
                    }
                }
                display:inline-block;
                width:370px;
                margin-right:50px;
                &:nth-child(3n){
                    margin-right:0;
                }
                vertical-align: top;
                .courses-item-img{
                    img{
                        width:370px;
                        height:250px;
                        overflow:hidden;
                        opacity:0.8;
                    }
                    background-color: #000000;
                    height:250px;
                }
                .courses-item-text{
                    .line{
                        width:150px;
                        border:0.5px solid black;
                        margin-top:15px;
                    }
                    padding:20px 30px;
                    background-color:#ffffff;
                    .courses-profile{
                        img{
                            width:50px;
                            height:50px;
                            overflow:hidden;
                            display:inline-block;
                        }
                        p{
                            font-size: 16px;
                            line-height: 2;
                            font-weight: 500;
                            margin-left:10px;
                            display:inline-block;
                            vertical-align: top;
                            padding-top:10px;
                        }
                    }
                    .courses-info{
                        margin-top:15px;
                        height:300px;
                        h2{
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 1.4;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                            word-wrap: wrap;
                        }
                        .courses-level,.courses-languages{
                            font-size: 14px;
                            font-style:italic;
                            margin-top:5px;
                        }
                        .courses-tags{
                            margin-top:10px;
                            span{
                                font-size:10px;
                                font-weight:300;
                                text-transform:uppercase;
                                background-color: #aaaaaa;
                                border-radius:5px;
                                padding:2px 5px;
                                color: #ffffff;
                                display:inline-block;
                                margin-right:2px;
                                
                            }
                        }
                    }
                    .courses-description{
                        margin-top:10px;
                        font-size: 16px;
                        line-height: 2;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}
.course{
    .course-banner{
        background-color: #000000;
        max-height:370px;
        overflow:hidden;
        position:relative;
        .course-banner-img{
            width:100%;
            opacity:0.3;
        }
        .course-banner-text{
            .course-name{
                font-size:40px;
                font-weight:normal;
                margin-bottom:10px;
            }
            .course-level{
                font-size:16px;
                margin-bottom:15px;
                display:inline-block;
                margin-right:20px;
            }
            .course-organization{
                .course-organization-img{
                    width:60px;
                    height:60px;
                    float:left;
                }
                .course-organization-name{
                    float:left;
                    margin-left:20px;
                    margin-top:10px;
                    font-size:16px;
                    text-transform: none;
                }
                &:after{
                    display: block;
                    content:"";
                    clear:both;
                }
                margin-bottom:10px;
            }
            .course-instructor{
                clear:both;
                display:inline-block;
            }
            width:80%;
            margin-left:10%;
            position:absolute;
            color: #ffffff;
            top: 100px;
            text-transform: uppercase;

        }
    }
    .course-nav{
        background-color: #e0e0e0;
        padding: 20px 0;
        .course-nav-menu{
            position:relative;
            margin-left:10%;
            width:450px;
            .course-nav-menu-active-title{
                padding:10px 0;
                padding-left:30px;
                padding-right:50px;
                font-size:16px;
                cursor:pointer;
                background: url(../assets/arrowdown.png) no-repeat;
                background-size: 17px 17px;
                background-position: 400px 12px;
                background-color: #ffffff;
            }
            .course-nav-menu-active-title.open{
                background: url(../assets/arrowup.png) no-repeat;
                background-size: 17px 17px;
                background-position: 400px 12px;
                background-color: #ffffff;  
            }
            .course-nav-menu-weeks{
                list-style-type:none;
                margin-top:15px;
                position:absolute;
                z-index:2;
                width:100%;
                max-height:0;
                overflow:hidden;
                .course-nav-menu-dropdown-week{
                    .course-nav-menu-dropdown-week-number{
                        padding:10px 0;
                        padding-left:30px;
                        padding-right:50px;
                        background: url(../assets/arrowdown.png) no-repeat;
                        background-size: 17px 17px;
                        background-position: 400px 12px;
                        background-color: #ffffff;
                        cursor:pointer;
                    }
                    .course-nav-menu-dropdown-week-number.open{
                        background: url(../assets/arrowup.png) no-repeat;
                        background-size: 17px 17px;
                        background-position: 400px 12px;
                        background-color: #ffffff;
                    }
                    .course-nav-menu-dropdown-days{
                        max-height:0;
                        overflow: hidden;
                        .course-nav-menu-dropdown-day-item, .course-nav-menu-dropdown-day-item.active{
                            padding:10px 40px;
                            background-color: #ffffff;
                        }
                        .course-nav-menu-dropdown-day-item.active, .course-nav-menu-dropdown-day-item:hover{
                            background-color: #f4f4f4;
                            cursor:pointer;
                        }
                    }
                    .course-nav-menu-dropdown-days.open{
                        max-height: 1000px;
                        transition: all 1s ease;
                    }
                }
            }
            .course-nav-menu-weeks.open{
                max-height:1000px;
                border:1px solid #9e9e9e;
                transition: all 1s ease;
                
            }

        }
    }
    .course-content{
        width:80%;
        margin:0 auto;
        min-height:50vh;
        .course-content-supplementary{
            float:right;
            .course-content-supplementary-title{
                font-size:20px;
                font-weight: normal;
            }
            .course-content-supplementary-materials{
                list-style-type: none;
                margin-top:20px;
                li{
                    display: block;
                    margin-bottom:10px;
                    .course-content-supplementary-material{
                        color: #000000;
                    }
                }
            }
        }
        .course-content-video{
            float:left;
            #my-player{
                width:640px;
                height:360px;
            }
            h1{
                font-size:30px;
                font-weight:normal;
                margin-bottom:10px;
            }
        }
        .course-content-text{
            float:left;
            h1{
                font-size:30px;
                font-weight:normal;
                margin-bottom:10px;
            }
            p{
                font-size:20px;
            }
        }
        &:after{
            content: "";
            display:block;
            clear:both;
        }
        padding:70px 0;
    }
}
.about-us{
    .about-us-content{
        min-height: 70vh;
        width:80%;
        margin-left:10%;
        p{
            font-size:24px;
        }
        padding-top:70px;
    }
}
.error{
    .error-content{
        min-height: 70vh;
        width:80%;
        margin-left:10%;
        p{
            font-size:24px;
        }
        padding-top:70px;
    }
}
.vjs-default-skin .vjs-seek-to-live-text { display: none; }
.video-js .vjs-control-bar{
    display:flex;
}
@media screen and (max-width: 1270px){
    .news-landing .news-landing-list .news-landing-item{
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }
    .about-us-landing{
        padding-bottom:80px;
    }
    .about-us-landing .about-us-main{
        margin-top:50px;    
    }
    .about-us-landing .about-us-main .about-us-list{
        float:none;
        width:100%;
        margin-left:0;
        li{
            text-align:center;
        }
    }
    .about-us-landing .about-us-main .about-us-sidetext{
        float:none;
        width:100%;
        text-align:center;
        margin-bottom:100px;
    }
    .fields .fields-list .fields-filters{
        width: 800px;
    }
    .fields .fields-list ul{
        width: 800px;
    }
    .fields .fields-list ul li{
        width:800px;
    }
    .fields .fields-list ul li .fields-item-text{
        width: 580px;
    }
    .fields .fields-list ul li:nth-child(odd){
        margin-right: 0;
    }
    .subfields .subfields-list .subfields-filters{
        width: 750px;
    }
    .subfields .subfields-list ul{
        width: 750px;
        li{
            margin-right: 0;
        }
    }
    .subfields .subfields-list ul li:nth-child(2n+1){
        margin-right:50px;
    }
    .courses .courses-list .courses-filters{
        width: 790px;
    }
    .courses .courses-list ul li{
        margin-right:50px;
        &:nth-child(2n){
            margin-right: 0;
        }
    }
    .courses .courses-list ul{
        width: 790px;
    }
    .courses .courses-list .courses-filters .courses-select{
        margin-bottom:20px;
    }
    .course .course-content .course-content-text{
        float:none;
    }
    .course .course-content .course-content-video{
        float:none;
    }
    .course .course-content .course-content-supplementary{
        float:none;
        margin-bottom:20px;
    }
}

@media screen and (max-width: 1100px){

    .course .course-content .course-content-supplementary .course-content-supplementary-materials li{
        display:inline-block;
        margin-right:20px;
    }

}

@media screen and (max-width: 1050px){
    .contact-us-landing{
        text-align:center;
    }
    .contact-us-landing h1{
        float:none;
        margin-bottom:20px;
    }
    .contact-us-landing button{
        float:none;
    }
    .course .course-banner .course-banner-text .course-name {
        font-size:36px;
    }
}
@media screen and (max-width: 900px){
    .course .course-banner .course-banner-text .course-name{
        font-size:30px;
    }
}
@media screen and (max-width: 850px){
    .fields .fields-list .fields-filters{
        width: 600px;
    }
    .fields .fields-list ul{
        width: 600px;
    }
    .fields .fields-list ul li{
        width:600px;
    }
    .fields .fields-list ul li .fields-item-text{
        width: 380px;
    }
    .fields .fields-list ul li:nth-child(odd){
        margin-right: 0;
    }
    .courses .courses-list .courses-filters{
        width: 370px;
    }
    .courses .courses-list ul li{
        margin-right: 0;
        margin-bottom:40px;
    }
    .courses .courses-list ul{
        width: 370px;
    }
    .courses .courses-list .courses-filters .courses-select{
        margin-bottom:20px;
    }
    .courses .courses-list .courses-filters input{
        margin-bottom:20px;
    }
    .course .course-content .course-content-video #my-player{
            width:480px;
            height:240px;
    }   
    .fields .fields-banner .fields-banner-text h1, .subfields .subfields-banner .subfields-banner-text h1, .courses .courses-banner .courses-banner-text h1{
        font-size:36px;
    }
    .courses .courses-banner .courses-banner-text p, .subfields .subfields-banner .subfields-banner-text p{
        font-size:22px;
    }
}
@media screen and (max-width: 800px){
    .footer .footer-lists ul{
        width: 48%;
        margin:1%;
        margin-bottom:40px;
        margin-top:0;
    }
    .footer .footer-socials p:last-child{
        font-size:14px;
    }
    .subfields .subfields-list .subfields-filters{
        width: 350px;
    }
    .subfields .subfields-list ul{
        width: 350px;
        li{
            margin-right: 0;
        }
    }
    .subfields .subfields-list ul li:nth-child(2n+1){
        margin-right:0;
    }
}

@media screen and (max-width: 700px){

    .banner .banner-text p{
        text-align:center;
        font-size:26px;
    }
    .banner .banner-text h1{
        text-align:center;
        font-size:45px;
    }
    .banner .banner-text div{
        text-align:center;
    }
    .banner{
        max-height:400px;
    }
    .banner .banner-text{
        top:100px;
    }
    .footer .footer-socials p:first-child{
        float:none;
        text-align:center;
        margin-bottom: 15px;
    }
    .footer .footer-socials p:last-child{
        float:none;
        text-align:center;
    }
    .contact-us-landing h1{
        font-size:24px;
    }
    .contact-us-landing button{
        font-size:14px;
    }
}
@media screen and (max-width: 650px){
    .fields .fields-list .fields-filters{
        width: 400px;
    }
    .fields .fields-list ul{
        width: 400px;
    }
    .fields .fields-list ul li{
        width:400px;
        height: auto;
    }
    .fields .fields-list ul li .fields-item-img{
        width:120px;
        height:120px;
        vertical-align: middle;
    }
    .fields .fields-list ul li .fields-item-text{
        width: 260px;
    }
    .fields .fields-list ul li:nth-child(odd){
        margin-right: 0;
    }
    .fields .fields-list ul li .fields-item-text h2{
        font-size:18px;
    }
    .fields .fields-list ul li .fields-item-text p{
        font-size: 14px;
    }
    .fields .fields-banner .fields-banner-text h1, 
    .subfields .subfields-banner .subfields-banner-text h1, 
    .courses .courses-banner .courses-banner-text h1, .subfields .subfields-banner .subfields-banner-text h1{
        font-size:30px;
    }
    .courses .courses-banner .courses-banner-text p, .subfields .subfields-banner .subfields-banner-text p{
        font-size:20px;
    }
    .course .course-banner .course-banner-text .course-name{
        font-size:24px;
    }
    .course .course-banner .course-banner-text .course-level, .course .course-banner .course-banner-text .course-instructor{
        font-size: 14px;
    }
    .course .course-nav .course-nav-menu .course-nav-menu-active-title{
        font-size:14px;
    }
    .course .course-nav .course-nav-menu .course-nav-menu-weeks .course-nav-menu-dropdown-week .course-nav-menu-dropdown-week-number{
        font-size:14px;
    }
    .course-nav-menu-dropdown-week .course-nav-menu-dropdown-days .course-nav-menu-dropdown-day-item{
        font-size:14px;
    }
    .course .course-nav .course-nav-menu{
        width:350px;
    }
    .course .course-nav .course-nav-menu .course-nav-menu-active-title.open, .course .course-nav .course-nav-menu .course-nav-menu-active-title,
    .course .course-nav .course-nav-menu .course-nav-menu-weeks .course-nav-menu-dropdown-week .course-nav-menu-dropdown-week-number, 
    .course .course-nav .course-nav-menu .course-nav-menu-weeks .course-nav-menu-dropdown-week .course-nav-menu-dropdown-week-number.open{
        background-position: 300px 12px;
    }
    .course .course-content .course-content-text h1, .course .course-content .course-content-video h1{
        font-size:22px;
    }
    .course .course-content .course-content-text p, .course .course-content .course-content-supplementary .course-content-supplementary-title{
        font-size:16px;
    }
    .course .course-content{
        padding:50px 0;
    }
    .course .course-content .course-content-video #my-player{
        width:360px;
        height:240px;
    }   
}
@media screen and (max-width: 600px){
    header .navbar-links .navbar-link, header .navbar-links .navbar-link-dropdown{
        font-size:14px;
    }
    header .navbar-links{
        padding-top:9px;
    }
    header .logo{
        width:49px;
        height:35px;
        background-size: 49px 35px;
        a{
            height:35px;
        }
    }
    .banner .banner-text p{
        font-size:20px;
    }
    .banner .banner-text h1{
        font-size:36px;
    }
    .news-landing h1{
        font-size:24px;
    }
    .news-landing .news-landing-list .news-landing-item .news-landing-text h2{
        font-size:20px;
    }
    .about-us-landing h1{
        font-size:24px;
    }
    .about-us-landing .about-us-main .about-us-sidetext h3{
        font-size:20px;
    }
    .about-us-landing .about-us-main .about-us-sidetext p{
        font-size:16px;
    }
    .about-us-landing .about-us-main .about-us-sidetext button{
        margin-top:30px;
        font-size:16px;
    }
    .about-us-landing .about-us-main .about-us-list li h2{
        font-size:20px;
    }
    .contact-us-landing h1{
        font-size:20px;
    }
    .footer .footer-lists ul li.title{
        font-size:16px;
    }
    .footer .footer-lists ul li{
        font-size:14px;
    }
    .banner .banner-text .banner-button-why, .banner .banner-text .banner-button-browse{
        margin-top:20px;
    }
    header .language{
        font-size:14px;
        padding-top:10px;
    }
    .news-landing .news-landing-list .news-landing-item img{
        float:none;
        margin-bottom:30px;
        margin-right:0;
    }
    .news-landing .news-landing-list .news-landing-item{
        text-align:center;
    }
    .about-us-landing .about-us-main .about-us-list li{
        width:90%;
        margin-left:5%;
        margin-bottom:60px;
    }
    .about-us-landing .about-us-main .about-us-list li:nth-child(2n){
        margin-left:5%;
        margin-bottom:60px;
    }
    .about-us-landing .about-us-main .about-us-sidetext{
        margin-bottom:80px;
    }
}
@media screen and (max-width:550px) {
    .courses .courses-list .courses-filters{
        width: 270px;
    }
    .courses .courses-list ul{
        width: 270px;
    }
    .courses .courses-list .courses-filters input{
        margin-bottom:20px;
        margin-right:0;
        font-size:14px;
    }
    .courses .courses-list ul li .courses-item-img{
        height: 180px;
    }
    .courses .courses-list ul li .courses-item-img img{
        width:270px;
        height:180px;   
    }
    .courses .courses-list ul li .courses-item-text .courses-info h2{
        font-size:18px;
    }
    .courses .courses-list ul li .courses-item-text .courses-description{
        font-size:14px;
    }
    .courses .courses-list .courses-filters .courses-select-input-left-button{
        font-size:14px;
    }
    .courses .courses-list .courses-filters .courses-select-input-right-button{
        margin-right:0;
        height:38.8px;
    }
    .courses .courses-list ul li .courses-item-text .courses-profile p{
        font-size:12px;
    }
    .courses .courses-list ul li{
        width:270px;
    }
    .fields .fields-banner .fields-banner-text h1, .courses .courses-banner .courses-banner-text h1, .subfields .subfields-banner .subfields-banner-text h1{
        font-size:30px;
    }
    .fields .fields-banner .fields-banner-text p, .courses .courses-banner .courses-banner-text p, .subfields .subfields-banner .subfields-banner-text p{
        font-size:14px;
    }
    .courses .courses-banner .courses-banner-text, .subfields .subfields-banner .subfields-banner-text{
        top:80px;
    }
}
@media screen and (max-width: 510px){
    .course .course-banner .course-banner-text{
        top:50px;
    }
    .course .course-banner .course-banner-text .course-level{
        margin-right:0;
        display:block;
    }
    .subfields .subfields-banner .subfields-banner-text{
        top:80px;
    }
    .banner .banner-text{
        top:100px;
    }
    .banner .banner-text p{
        font-size:20px;
    }
    .banner .banner-text h1{
        font-size:30px;
    }
    .banner .banner-text .banner-button-why{
        font-size:14px;
        margin-top:20px;
    }
    .banner .banner-text .banner-button-browse{
        font-size:14px;
        margin-top:20px;
    }
    .news-landing h1{
        font-size:20px;
    }
    .news-landing .news-landing-list .news-landing-item img{
        width:150px;
        height:130px;
    }
    .news-landing .news-landing-list .news-landing-item .news-landing-text h2{
        font-size:20px;
    }
    .about-us-landing h1{
        font-size:20px;
    }
    .about-us-landing .about-us-main .about-us-sidetext h3{
        font-size:20px;
    }
    .about-us-landing .about-us-main .about-us-sidetext p{
        font-size:16px;
    }
    .about-us-landing .about-us-main .about-us-list li h2{
        font-size:20px;
    }
    .about-us-landing .about-us-main .about-us-list li p{
        font-size:16px;
    }
    .contact-us-landing h1{
        font-size:20px;
    }
    .contact-us-landing button{
        font-size:12px;
    }
    .footer .footer-lists ul{
        width:98%;
    }
    header{
        padding-bottom:0;
        padding-top:15px;
    }
    header .logo{
        width:50px;
        height:35px;
        background-size:50px 35px;
        margin-left:15%;    
    }
    header .navbar-toggle-bar{
        border-top:1px solid #ffffff;
        display:block;
        width:20px;
        margin-bottom:5px;
    }
    header .navbar-toggle{
        display:inline-block;
        background-color:transparent;
        border: 1px solid #ffffff;
        border-color: rgba(255,255,255,0.5);
        padding:7px 7px 2px 7px;
        cursor:pointer;
        float:right;
        margin-bottom:20px;
        margin-top:5px;
    }
    header .navbar-links{
        display:none;
        
    }
    header .navbar-links.open{
        padding:10px 0 15px 0;
        border-top:1px solid #ffffff;
        display:block;
        clear:both;
        float:none;
        li{
            display:block;
            margin-left:0;
            margin-bottom:5px;
            &:last-child{
                margin-bottom:0;
            }
        }
        margin-left:12%;
    }
    header .navbar-links .navbar-link-dropdown p{
        background-position: 100px;
    }
    header .navbar-links .navbar-link .navbar-dropdown-links-open, header .navbar-links .navbar-link .navbar-dropdown-links-closed, header .navbar-links .navbar-link-dropdown .navbar-dropdown-links-open, header .navbar-links .navbar-link-dropdown .navbar-dropdown-links-closed{
        position:relative;
        background-color: transparent;
    }
    header .navbar-links .navbar-link .navbar-dropdown-links-open .navbar-dropdown-link a, header .navbar-links .navbar-link .navbar-dropdown-links-closed .navbar-dropdown-link a, header .navbar-links .navbar-link-dropdown .navbar-dropdown-links-open .navbar-dropdown-link a, header .navbar-links .navbar-link-dropdown .navbar-dropdown-links-closed .navbar-dropdown-link a{
        color: #ffffff;
        text-align:left;
        &:hover{
            background-color:#565656;
        }
        font-size:14px;
    }
    .course .course-banner .course-banner-text{
        text-align: center;
    }
    .course .course-banner .course-banner-text .course-organization{
        width:250px;
        margin: 0 auto;
        margin-bottom:5px;
    }
    .about-us-landing .about-us-main .about-us-list li i{
        font-size:50px;
    }
    .footer .footer-socials p:last-child{
        font-size:12px;
    }
}
@media screen and (max-width: 450px){
    .banner .banner-text{
        top:80px;
    }
    .banner .banner-text p{
        font-size:16px;
    }
    .banner .banner-text h1{
        font-size:24px;
    }
    .banner .banner-text .banner-button-why, .banner .banner-text .banner-button-browse{
        padding: 10px 16px;
    }
    .news-landing h1{
        font-size:18px;
    }
    .news-landing .news-landing-list .news-landing-item .news-landing-text h2{
        font-size:16px;
    }
    .news-landing .news-landing-list .news-landing-item .news-landing-text p{
        font-size:14px;
    }
    .about-us-landing h1{
        font-size:18px;
    }
    .about-us-landing .about-us-main .about-us-sidetext h3{
        font-size:18px;
    }
    .about-us-landing .about-us-main .about-us-sidetext p{
        font-size:14px;
    }
    .about-us-landing .about-us-main .about-us-sidetext button{
        font-size:14px;
        padding:10px 20px;
    }
    .about-us-landing .about-us-main .about-us-list li h2{
        font-size:18px;
    }
    .about-us-landing .about-us-main .about-us-list li p{
        font-size:14px;
    }
    .contact-us-landing h1{
        font-size:18px;
    }
    .contact-us-landing button{
        padding:10px 20px;
    }
    .course .course-banner .course-banner-text .course-organization{
        width:200px;
    }
    .course .course-banner .course-banner-text .course-organization .course-organization-img{
        width:50px;
        height:50px;
    }
    .course .course-banner .course-banner-text .course-name{
        font-size:20px;
    }
    .course .course-banner .course-banner-text .course-organization .course-organization-name{
        font-size:12px;
    }
    .course .course-banner .course-banner-text .course-level{
        margin-bottom:5px;
    }
    .course .course-nav .course-nav-menu{
        width:250px;
    }
    .course .course-nav .course-nav-menu .course-nav-menu-active-title.open, .course .course-nav .course-nav-menu .course-nav-menu-active-title, .course .course-nav .course-nav-menu .course-nav-menu-weeks .course-nav-menu-dropdown-week .course-nav-menu-dropdown-week-number, .course .course-nav .course-nav-menu .course-nav-menu-weeks .course-nav-menu-dropdown-week .course-nav-menu-dropdown-week-number.open{
        background-position: 220px 10px;
        padding-left: 20px;
        padding-right: 30px;
    }
    .course .course-nav .course-nav-menu .course-nav-menu-active-title,
    .course .course-nav .course-nav-menu .course-nav-menu-weeks .course-nav-menu-dropdown-week .course-nav-menu-dropdown-week-number,
    .course-nav-menu-dropdown-week .course-nav-menu-dropdown-days .course-nav-menu-dropdown-day-item{
        font-size:12px;
    }
    .course .course-banner .course-banner-text .course-level{
        margin-right:5px;
    }

    .course .course-banner .course-banner-text{
        width:90%;
        margin-left:5%;
    }
    .course .course-content .course-content-video #my-player{
        width:240px;
        height:150px;
    }   
    .courses .courses-banner .courses-banner-text, .subfields .subfields-banner .subfields-banner-text{
        top:60px;
    }
}
@media screen and (max-width: 440px){
    .banner .banner-text{
        top:70px;
    }
    .fields .fields-list .fields-filters{
        width: 300px;
    }
    .fields .fields-list ul{
        width: 300px;
    }
    .fields .fields-list ul li{
        width:300px;
        height: auto;
    }
    .fields .fields-list ul li .fields-item-img{
        width:100px;
        height:100px;
        vertical-align: middle;
    }
    .fields .fields-list ul li .fields-item-text{
        width: 180px;
    }
    .fields .fields-list .fields-filters input{
        width:200px;
    }
    .fields .fields-list{
        padding-bottom:50px;
    }
    .subfields .subfields-banner .subfields-banner-text h1{
        font-size:30px;
    }
    .subfields .subfields-banner .subfields-banner-text p{
        font-size:16px;
    }
    .subfields .subfields-list .subfields-filters, .fields .fields-list .fields-filters, .courses .courses-list .courses-filters{
        input{
            width:150px;
            font-size:16px;
        }
        width:250px;
    }
    .subfields .subfields-list ul{
        width: 250px;
    }
    .subfields .subfields-list ul li div img{
        width:250px;
        height:150px;
    }
    .subfields .subfields-list ul li{
        width:250px;
    }
    .subfields .subfields-list ul li div{
        height:150px;
    }

}
@media screen and (max-width: 400px){
    .courses .courses-banner .courses-banner-text, .subfields .subfields-banner .subfields-banner-text{
        top:45px;
    }
    .courses .courses-banner .courses-banner-text h1, .subfields .subfields-banner .subfields-banner-text h1{
        font-size:20px;
    }
    .courses .courses-banner .courses-banner-text p, .subfields .subfields-banner .subfields-banner-text p{
        font-size:12px;
    }
    .subfields .subfields-banner .subfields-banner-text{
        top:50px;
    }
}
@media screen and (max-width: 370px){
    .banner .banner-text .banner-button-why{
        padding: 10px 15px;
    }
    .banner .banner-text .banner-button-browse{
        padding: 10px 15px;
    }
    .fields .fields-banner .fields-banner-text{
        top:80px;
    }
    .subfields .subfields-banner .subfields-banner-text p{
        font-size:14px;
    }
    .fields .fields-list .fields-filters{
        width: 280px;
    }
    .fields .fields-list ul{
        width: 280px;
    }
    .fields .fields-list ul li{
        width:280px;
        height: auto;
    }
    .fields .fields-list ul li .fields-item-img{
        width:100px;
        height:100px;
        vertical-align: middle;
    }
    .fields .fields-list ul li .fields-item-text{
        width: 160px;
    }
    .fields .fields-list .fields-filters input{
        width:150px;
        font-size:16px;
    }
    .fields .fields-list ul li .fields-item-text h2{
        font-size:16px;
    }
    .fields .fields-list ul li .fields-item-text p{
        font-size: 12px;
    }
    .course .course-banner .course-banner-text{
        top:30px;
    }
}
@media screen and (max-width: 340px){
    .banner .banner-text{
        top:40px;
    }
    .banner .banner-text h1{
        font-size:25px;
    }
}