{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br /><br />
{% endif %}

<h1>REGISTRIRUYSYA</h1><br /><br />
<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}
Username:<br />
<input type="text" name="username" /><br /><br />
Password:<br />
<input type="password" name="password"><br /><br />
Confirm password:<br />
<input type="password" name="password_conf"><br /><br />
<input class="btn btn-primary" type="submit" value="Sign Up">

</form>

{% endblock %}