{% extends 'catalog/course.html' %}


{% block course_content %}
<div class="course">
        <div id="course-contents">

        <h3>{{ course.title }}</h3><br />
        <h4>{{ content.title }}</h4><br />
        <h4>Course contents:</h4>
        {% if content.video %}
          <div class="content-video">
            <iframe width="560" height="315" src="{{ content.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        {% endif %}
          <div class="content-text">
            <p>{{ content.text }}</p>
          </div>
          {% if content.file %}
          <div class="content-files">
            <a href="{{ content.file.url }}">Download</a>
          </div>
          {% endif %}
</div>
    </div>
   {% endblock %}