{% extends 'base.html' %}

{% load staticfiles %}
{% load ratings %}

{% block content %}
  {% with co=course.subfield %}
    <h2>Course {{ co.title }}</h2>
    <br />
    <div class="contents">
      <h3>Contents</h3>
      <ul id="courses">
        {% for c in course.contents.all %}
          <li data-id="{{ c.slug }}" {% if m == content %}class='selected'{% endif %}>
            <a href="{{ c.slug }}">
              <span>
                {{ c.title }}
              </span>
            </a>
          </li>
        {% empty %}
          <li>No content yet.</li>
        {% endfor %}
      </ul>
      
    </div>
  {% ratings course %}
    {% block course_content %}

    
    {% endblock %}
  
  {% endwith %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  $(document).ready(function() {
  });

  $('#courses').sortable({
      stop: function(event, ui) {
          courses_order = {};
          $('#courses').children().each(function(){
              // update the order field
              $(this).find('.order').text($(this).index() + 1);
              // associate the module's id with its order
              courses_order[$(this).data('id')] = $(this).index();
          });
          $.ajax({
              type: 'POST',
              url: '',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
                 data: JSON.stringify(courses_order)
             });
      }
  });

  $('#course-contents').sortable({
      stop: function(event, ui) {
          contents_order = {};
          $('#course-contents').children().each(function(){
              // associate the module's id with its order
              contents_order[$(this).data('id')] = $(this).index();
          });

          $.ajax({
              type: 'POST',
              url: '',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(contents_order),
          });
      }
  });
</script>

{% endblock %}