{% extends 'course_base.html' %}

{% block lines %}

{% for i in course.video_set.all %}
<a href="#">{{ i.title }}</a>
{% endfor %}

{% endblock %}


{% block content %}
{% for c in course.video_set.all %}
<div class='container'>


  <div class="row">
  	
    <div class="col-md-4 mt-3">
      <div class="card mb-4 shadow-sm">
	    <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ c.link_id }}"" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
          	<p class="card-text">{{ c.title }}</p>
          </div>
      </div>
    </div>

  	{% endfor %}
  	</div>
</div>

{% endblock %}