{% extends 'base.html' %}

{% block content %}


<div class='container'>
<div class="text-center">
<br />
<h2>List of contents</h2><br />

</div>

<div class="row">
  {% for field in fields %}


        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="img-fluid" src="{{ field.pic.url }}" />
            <div class="card-body">
              <center><p class="card-text"><h3>{{ field.title }}</h3></p></center>
              <p class="card-text">{{ field.description }}</p>
              <div class="d-flex justify-content-between align-items-center">

                <div class="btn-group">
                  <a href="{% url 'field' field.id %}" class="btn btn-sm btn-outline-secondary" role="button">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>

  {% endfor %}
</div>

{% endblock %}